.footer {
  width: 100%;
  background-color: #272727;
  display: flex;
  flex-direction: column;
  color: white;
  padding-left: 60px;
  padding-right: 60px;
  /* padding: 50px 150px; */
  /* justify-content: space-between; */
  text-align: left;
  /* width: 600px; */
}

.footerLogo {
  width: 140px;
  margin-bottom: 30px;
}

.footerLeft > p {
  width: 200px;
}
.footerheaders {
  color: #e62129;
  font-size: 25px;
  margin-bottom: 15px;
}
.footerList {
  list-style-type: none;
}
.footerList > li {
  margin-bottom: 10px;
  width: 300px;
  font-size: 12px;
}
.footerRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 60%; */
}
.footerLinks {
  width: 300px;
}
@media screen and (max-width: 780px) {
  .footer {
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 780px) {
  .footer {
    flex-direction: row;
    width: 100%;
    padding-left: 0px;
    padding: 50px 150px;
  }
  .footerLeft {
    /* margin-right: 80px; */
    width: 40%;
    font-size: 15px;
  }
  .footerLeft > p {
    width: 300px;
  }
  .footerRight {
    flex-direction: row;
    /* flex-wrap: wrap; */
    /* width: 100%; */
  }
}

@media screen and (max-width: 1600px) {
  .footerRight {
    /* flex-direction: column; */
    flex-wrap: wrap;
  }
}
